API_KEY = ""
API_URL = ""
HEADERS = {"x-api-key": API_KEY}

SLEEP_INTERVAL = 300
DB_PATH = "db/data_tracker.db"

FTP_HOST = ""  
FTP_PORT = 
FTP_USERNAME = ""
FTP_PASSWORD = ""
FTP_HOME_DIR = "/"

TZ_OFFSET=4